

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
    }
}


html {
    scroll-behavior: smooth;
}
body{
    @media (max-width: 2424px) {

    }
    @media (max-width: 768px) {

    }
    @media (max-width: 768px) {

    }
    @media (max-width: 258px) {

    }
    //Mobile devices--Do 320px
    @media (max-width: 414px) {

    }

    @media (max-width: 375px) {

    }

    @media (max-width: 320px) {

    }
    //Tablet Devices
    @media (max-width: 600px) {

    }

    @media (max-width: 768px) {

    }

    @media (max-width: 834px) {

    }

    @media (max-width: 1024px) {

    }
    //Laptops and Small Monitors

    @media (max-width: 1280px) {

    }
    @media (max-width: 1366px) {

    }

    //Desktops and Larger Screens
    @media (max-width: 1440px) {

    }
    @media (max-width: 1600px) {

    }
    @media (max-width: 1920px) {

    }
    @media (max-width: 2560px) {

    }
}
